<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>loginowner</servlet-name>
        <servlet-class>myservlet.loginowner</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginuser</servlet-name>
        <servlet-class>myservlet.loginuser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>foodimg</servlet-name>
        <servlet-class>myservlet.foodimg</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>showfoodimg</servlet-name>
        <servlet-class>myservlet.showfoodimg</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>showresturantimg</servlet-name>
        <servlet-class>myservlet.showresturantimg</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>signupdetail</servlet-name>
        <servlet-class>myservlet.signupdetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>signupowner</servlet-name>
        <servlet-class>myservlet.signupowner</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>storefoodingredient</servlet-name>
        <servlet-class>myservlet.storefoodingredient</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateresturant</servlet-name>
        <servlet-class>myservlet.updateresturant</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editfooditem</servlet-name>
        <servlet-class>myservlet.editfooditem</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deletefooditem</servlet-name>
        <servlet-class>myservlet.deletefooditem</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>edituserprofile</servlet-name>
        <servlet-class>myservlet.edituserprofile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>orderdetail</servlet-name>
        <servlet-class>myservlet.orderdetail</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>loginowner</servlet-name>
        <url-pattern>/loginowner</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginuser</servlet-name>
        <url-pattern>/loginuser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>foodimg</servlet-name>
        <url-pattern>/foodimg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>showfoodimg</servlet-name>
        <url-pattern>/showfoodimg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>showresturantimg</servlet-name>
        <url-pattern>/showresturantimg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>signupdetail</servlet-name>
        <url-pattern>/signupdetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>signupowner</servlet-name>
        <url-pattern>/signupowner</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>storefoodingredient</servlet-name>
        <url-pattern>/storefoodingredient</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateresturant</servlet-name>
        <url-pattern>/updateresturant</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editfooditem</servlet-name>
        <url-pattern>/editfooditem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deletefooditem</servlet-name>
        <url-pattern>/deletefooditem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>edituserprofile</servlet-name>
        <url-pattern>/edituserprofile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>orderdetail</servlet-name>
        <url-pattern>/orderdetail</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
